<div ng-controller="getUserInfo" ng-init="">
  <div class="modal-header">
    <h3 class="modal-title"> Bad Word Filter </h3>
  </div> <!-- end modal-header -->

  <div class="modal-body">
    <div id="badWordDiv">
      <input type="text" name="name" ng-model="newBadWord">
    </div> <!-- end badWordDiv -->
    <div ng-repeat="badWordsList in badWordsArray">
      {{badWordsList.badWords}}
    </div>
  </div> <!-- end modal-body -->

  <div class="modal-footer">
    <button ng-click="addNewBadWord()"> Add Bad Word </button>
    <button class="btn-warning" ng-click="cancel()"> Cancel </button>
  </div> <!-- end modal-footer -->
</div>
