<div ng-controller="adminEditController">
  <div class="modal-header">
    <h3 class="modal-title"> Add New Character </h3>
  </div> <!-- end modal-header -->

  <div class="modal-body">
    <div id="editCharactersDiv">
      <label for="charName"> Name: </label>
      <input type="text" name="charName" ng-model="characterNameBinder" placeholder="Character Name"><br>
      <label for="traitOne"> Trait 1: </label>
      <input type="text" name="traitOne" ng-model="characterTraitBinderOne" placeholder="Character Trait 1"><br>
      <label for="traitTwo"> Trait 2: </label>
      <input type="text" name="traitTwo" ng-model="characterTraitBinderTwo" placeholder="Character Trait 2"><br>
      <label for="traitThree"> Trait 3: </label>
      <input type="text" name="traitThree" ng-model="characterTraitBinderThree" placeholder="Character Trait 3"><br>
      <label for="charBio"> Biography: </label>
      <input type="text" id="charBio" name="charBio" ng-model="characterBioBinder" placeholder="Character Bio"><br>
      <label for="charPhoto"> Photo: </label>
      <input type="text" name="charPhoto" ng-model="characterPhotoBinder" placeholder="Character Photo URL"><br>
    </div> <!-- end editCharactersDiv -->
  </div> <!-- end modal-body -->

  <div class="modal-footer">
    <button ng-click= "addChar()" class="btn btn-primary"> Add </button>
    <button class="btn btn-warning" ng-click="cancel()"> Cancel </button>
  </div> <!-- end modal-footer -->
</div>
