<div ng-controller='adminStoryInputController'>
<h1>Add Characters and Pages to Story</h1>
  <h2>Title: {{storyIndex.story_title}}</h2>
  <div id="character">
  <button type="button" name="addCharButton" ng-click="charToggle()">Add a Character to the Story</button>
  <div id="charInputToggle" ng-show= "addCharToggle">
  <h3>Character Input</h3>
    <div id="charInput">
      <input type="text" name="charName" ng-model="characterNameBinder" value="" placeholder="Character Name">
      <br>
      <input type="text" name="charTraits" ng-model="characterTraitBinderOne" value="" placeholder="Character Trait 1">
      <br>
      <input type="text" name="charTraits" ng-model="characterTraitBinderTwo" value="" placeholder="Character Trait 2">
      <br>
      <input type="text" name="charTraits" ng-model="characterTraitBinderThree" value="" placeholder="Character Trait 3">
      <br>
      <textarea  name="charBio" ng-model="characterBioBinder" value="" placeholder="Character Bio">
      <br>
      <input type="text" name="charPhoto" ng-model="characterPhotoBinder" value="" placeholder="Character Photo URL">
      <br>
      <button type="submit" name="submitCharButton" ng-click= "addChar($index)">Submit Character</button>
      <br>
    </div>
    <div id="charPreview">
      Name: {{characterNameBinder}}
      <br>
      Traits: {{characterTraitBinderOne}}, {{characterTraitBinderTwo}}, {{characterTraitBinderThree}}
      <br>
      Bio: {{characterBioBinder}}
      <br>
      <img ng-src="{{characterPhotoBinder}}" width='200px;'height = "200px;">
    </div>
  </div>
</div>

  <div ng-init= "adminStoryLoad()" id="currentChars">
    <h3>Current Characters:</h3>
    <div class='md-padding' layout="row" layout-wrap >
          <md-card style="width: 400px;" ng-repeat="character in characters">
            <md-card-content>
            <img ng-src="{{character.character_photo}}" class="xs-card-image" alt="{{character.character_name}}'s picture" width='200px;'height = "200px;" margin='0 auto;'>

              <h2>{{character.character_name}}</h2>
              <p>{{character.character_bio}}</p>

            <div class="md-actions" layout="row" layout-align="end center">
              <md-button ng-click="editCharacter($index)">Edit Character</md-button>
            </div>
            </md-card-content>
          </md-card>
      </div>
  </div>

<div id="page">
  <button type="button" name="addPageButton" ng-click="pageToggle()">Add a Page to the Story</button>
  <div id="pageInputToggle" ng-show= "addPageToggle">
    <h2>Page Input</h2>
    <input type="text" name="pageNumber" ng-model="pageNumberBinder" value="" placeholder="Page Number">
    <br>
    <textarea id="textareaEdit" ng-model="pageTextBinder" placeholder="Page Text"></textarea>
    <br>
    <input type="text" name="pageIllustration" ng-model="pageIllustrationBinder" value="" placeholder="Illustration">
    <button type="submit" name="submitCharButton" ng-click= "addPage()">Submit Page</button>
  </div>

<!-- <input type="text" name="pageText" ng-model="pageTextBinder" value="" placeholder="Page Text">
<span class="valueItems">  {{textareaValue}}</span> -->


<h3>Current Pages:</h3>
  <div ng-init= "adminStoryLoad()">
    <div class='md-padding' layout="row" layout-wrap >
          <md-card style="width: 200px;" ng-repeat="page in pages">
            <md-card-content>
              <h4>Page # {{page.page_number}}</h4>
              <p>{{page.page_text}}</p>
              <img ng-src="{{page.page_illustration}}" class="xs-card-image" alt="{{page.page_number}}'s illustration" width='50px;' height= '50px' margin='0 auto;'>
              <div class="md-actions" layout="row" layout-align="end center">
              <md-button ng-click="editPage($index)">Edit Page</md-button>
            </div>
            </md-card-content>
          </md-card>
      </div>
  </div>
</div>
</div>
