<div class="container-fluid" ng-controller="genericMainController">

  <br><p>one two three four five six seven eight nine ten</p><br>

  <textarea id="adminTestBox" my-text="" ng-model="testAreaText" placeholder="Place story to edit here"></textarea>
  <div>Word count: {{stringLength}} </div><br>
  <button ng-click="captureStoryInput()">Submit Text</button><br><br>
  <div id="adminStory"></div><br>
  <button ng-click="saveStory()">Save Story</button><br><br>
  <div id="userStory"></div>

</div>
