<div ng-controller="adminEditController" ng-init="getAllStories()" id="admin" class="gridListdemoBasicUsage">

  <div id="libraryInstructions">
  <h1> Welcome to your library, {{loggedInUser}}! </h1>
  <h2> Click on a story cover to start reading. </h2>
  </div>
  <!-- <div id="addStoryBtn"><button type="button" class="btn btn-primary" name="addStoryButton" ng-click="openAdminEdit()" ng-show="adminBtns" > Add a new story </button></div> -->

<div ng-include=" '/views/partials/welcome.html' "></div>

  <button type="button" class="btn btn-primary" name="addStoryButton" ng-click="openAdminEdit()" ng-show="adminBtns" > Add a new story </button>

  <div class='md-padding' layout="row" layout-wrap >
    <md-card class="cards"style="width: 400px;" ng-repeat="story in stories">
      <md-card-content>

      <h2> {{story.story_title}} </h2>
      <p> {{story.story_description}} </p>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-click="selectReaderStory($index)" ng-show="userBtns">
        <div class="storyCover"> <img ng-src="{{story.story_cover}}" class="md-card-image" alt="{{story.story_title}}'s picture" width='200px;'height = "200px;"></md-button></div>
      </div>
      <md-button ng-click="deleteStory($index)" ng-show="adminBtns" class="btn btn-danger"> Delete </md-button>
      <md-button ng-click="editStory($index)" ng-show="adminBtns" class="btn btn-primary"> Edit </md-button>

      </md-card-content>
    </md-card>
    </div>
  </div>
</div>
