<div class="modalAll" ng-controller="userStoryController">
  <div class="modal-header">
    <h3 class="modal-title"> Change Name </h3>
  </div> <!-- end modal-header -->

  <div class="modal-body">
    <div id="nameChangeBox">
      <div id="charactersListDiv" ng-repeat="(namesIndex, names) in characters">
        <div ng-hide="showTrue[$index]">
          <img ng-src="{{readerIndex.story_characters[$index].character_photo}}" height='100px'/>
          Original name: {{names}}
          <input type="text" name="name" ng-model="name">
          <button id="changeBtn" ng-click="nameReplace(name, names, namesIndex)"> Change </button>
        </div>
        <div ng-show="showTrue[$index]">
          <img ng-src="{{readerIndex.story_characters[$index].character_photo}}" height='100px'/>
          New name: {{newNames[$index]}}
          <button class="textPopupEditBtn" ng-click="editName($index)"> Edit </button>
        </div>
      </div> <!-- end ng-repeat -->
    </div> <!-- end nameChangeBox -->
  </div> <!-- end modal-body -->

  <div class="modal-footer">
    <button class="btn-primary" ng-click="cancel()"> Done </button>
    <button class="btn-primary" ng-click="cancel()"> Cancel </button>
  </div> <!-- end modal-footer -->
</div> <!-- end userStoryController -->
