<div ng-controller="userStoryController">
  <div class="modal-header">
    <h3 class="modal-title"> Change Name </h3>
  </div> <!-- end modal-header -->

  <div class="modal-body">
    <div id="nameChangeBox">
      <div id="charactersListDiv" ng-repeat="names in characters">
        Old name: {{names}}
        <input type="text" name="name" ng-model="name">
        <button ng-click="nameReplace(name, names)"> Change </button>
        <!-- <button ng-click="editName()"> Edit </button> -->
      </div> <!-- end ng-repeat -->
    </div> <!-- end nameChangeBox -->
  </div> <!-- end modal-body -->

  <div class="modal-footer">
    <button class="btn-primary" ng-click="cancel()"> Done </button>
    <button class="btn-warning" ng-click="cancel()"> Cancel </button>
  </div> <!-- end modal-footer -->
</div> <!-- end userStoryController -->
