<div ng-controller="loginController">
  <h3>Login fail</h3>
  <div id="loginBox">

    <p id="loginFailHeader">Login attempt failed, please try again.</p>

    <form action="/login" method="post">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username"placeholder="Login">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" name="password" id="password"placeholder="Password">
    </div>
    <div>
      <p>New user? Click register!</p>
      <a href="/register">Register</a>
      <input ng-click="setPrivileges()" type="submit" name="name" value="Log In">
    </div>
    </form>
  </div> <!-- end loginBox -->
</div>
