<div ng-controller="loginController">
  <div class="modal-header">
    <h3 class="modal-title">Logout</h3>
  </div> <!-- end modal-header -->

  <div class="modal-body">
    <div id="logoutBox">
      <div>
        <p> Are you sure you want to log out? </p>
      </div>
    </div> <!-- end logoutBox -->
  </div> <!-- end modal-body -->

  <div class="modal-footer">
    <button class="btn-primary" ng-click="logout()"> Log Out </button>
    <button class="btn-warning" id="cancelBtn" ng-click="cancel()"> Cancel </button>
      <!-- <form action="/logout" method="get"><input type="submit" name="logout" value="Log Out"></form> -->
  </div> <!-- end modal-footer -->
</div> <!-- end gloginController -->
