<div ng-controller="readerLandingPageCtrl" ng-init="myStoryLoad()">
  <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <a href="#">
                <div>
                  <p>{{readerIndex.story_title}}</p>
                  <img ng-src="{{readerIndex.story_cover}}" height='100px'/>
                </div>
                  </a>
                    <a href="#">
                        Characters
                    </a>
                </li>
                <li>
                    <div class="charIcon">
                      <div ng-repeat="character in characters">
                      <img ng-src="{{character.character_photo}}" height='100px' />
                      <br>
                      {{character.character_name}}
                      <p>
                      Traits:
                      {{character.character_traits}}
                    </p>

                    </div>
                    </div>
                </li>

            </ul>
        </div>

        <!-- body -->
         <div id="page-content-wrapper">
           <div class="container">
             <div class="row">
                 <div class="col-xs-8">
                   <h1>{{readerIndex.story_title}}</h1>
          <!-- <img ng-src="{{readerIndex.story_cover}}" height='100px'/> -->
          <h4> There are {{readerIndex.story_pages.length}} pages in the story.</h4>
          <img ng-src="{{myStory.page_illustration}}" height='100px'/>

          <div> page {{myStory.page_number}} </div>
            <br>
              <button class="previousButton" type="button" name="Prevbutton" ng-click= "prevPage()">Back</button>
              <button class="nextButton" type="button" name="Nextbutton" ng-click= "nextPage()">Next</button>
            <br>
            <div class="readerFontSize"> {{myStory.page_text}} </div>
            <br>
              <div> page {{myStory.page_number}} </div>
              <br>
              <!-- <div class="divbtn" -->
                <button  class="previousButton" type="button" name="Prevbutton" ng-click= "prevPage()">Back</button>
                <button class="nextButton"type="button" name="Nextbutton" ng-click= "nextPage()">Next</button>
              <br>
        </div>
    </div>
</div>
