<div ng-controller="loginController">
  <h3>Register</h3>
  <div id="registerBox">
    <form action="/register" method="post">
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name">
    </div>
    <div>
      <label for="birthday">Birthday:</label>
      <input type="date" name="birthday" id="birthday">
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" name="email" id="email">
    </div>
    <div>
      <label for="grade">Grade:</label>
      <input type="number" name="grade" id="grade">
    </div>
    <div class="stuff">
    </div>
    <div>
      <p>Already a user? Please login!</p>
      <a href="/#/login">Login</a>
      <input ng-click="setPrivileges()" type="submit" value="Register">
    </div>
  </div> <!-- end registerBox -->
</div>
