<div ng-controller="getUserInfo">
  <div class="modal-header">
    <h3 class="modal-title">Update User Info</h3>
  </div> <!-- end modal-header -->

  <div class="modal-body">
    <div id="updateUserDiv">
      <table>
        <tr><td><label for ='nameUpdate'>Name: </label><input type="text" id="nameUpdate" ng-model="nameUpdate" value="Name"></td></tr>
        <tr><td><label for ='usernameUpdate'>Username: </label><input type="text" id="usernameUpdate" ng-model="username" value="Name"></td></tr>
        <tr><td><label for ='bdayUpdate'>Birthday: </label><input type="date" id="bdayUpdate" ng-model="bdayUpdate" value=""></td></tr>
        <tr><td><label for ='gradeUpdate'>Grade: </label><input type="text" id="gradeUpdate" ng-model="gradeUpdate" value="Grade"></td></tr>
        <tr><td><label for ='emailUpdate'>Email: </label><input type="email" id="emailUpdate" ng-model="emailUpdate" value="Email"></td></tr>
        <tr><td><label for ='adminUpdate'>Admin?</label><input type="checkbox" id="adminUpdate" ng-model="adminUpdate"></td><tr>
        <tr><td><label for ='authUpdate'>Authorize?</label><input type="checkbox" id="authUpdate" ng-model="authUpdate"></td><tr>
      </table>
    </div> <!-- end updateUser div -->
  </div> <!-- end modal-body -->

  <div class="modal-footer">
    <button class="basicBtn" id="updateBtn" ng-click="updateUser(id)"> Update</button>
    <button class="basicBtn" id="cancelBtn" ng-click="cancel()"> Cancel </button>
  </div> <!-- end modal-footer -->
</div> <!-- end genericMainController -->
