<div ng-controller="userStoryController" ng-init="chooseNamePopup()">
  <div id="wrapper">

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
      <ul class="sidebar-nav sideNav">
        <li class="sidebar-brand">
          <li>
            <div class="storyTitle">

              <p> {{readerIndex.story_title}} </p>
              <img ng-src="{{readerIndex.story_cover}}" height='100px'/>
            </div>
          </a>
          <a href="#"> Characters </a>
        </li>
        <li>
          <div class="charIcon">
            <div ng-repeat="character in $rootScope.readerIndex.story_characters">
              <img ng-src="{{character.character_photo}}" height='100px'/><br>
              {{character.character_name}}
              <p> Traits: {{character.character_traits}} </p>
            </div>
          </li>
        </li>
      </ul>
    </div>

  <!-- body -->

    <div id="page-content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-8">
            <div class="{{storyClass}}">
              <div class="{{sizeClass}}">
                <h1>{{readerIndex.story_title}}</h1>
                <img ng-src="{{myStory.page_illustration}}" height='100px'/>
                <div id="userStory"></div>
              </div>
            </div>
          </div>
            <footer>
              <span class="pageination">page {{myStory.page_number}} of {{readerIndex.story_pages.length}}</span>
              <div class="navBtns">
              <button class="previousButton" type="button" name="Prevbutton" ng-click= "prevPage()">Back</button>
              <button class="nextButton"type="button" name="Nextbutton" ng-click= "nextPage()">Next</button>
              </div>
              <div class= "fontBtns">
              <button class= "arialButton" type= "button" name="arialButton" ng-click= "arialFont()">Font 1</button>
              <button class= "comicButton" type= "button" name="comicButton" ng-click= "comicFont()">Font 2</button>
              <button class= "openDyslexicButton" type= "button" name="openDyslexicButton" ng-click= "openDyslexicFont()">Font 3</button>
              <button class= "smallButton" type= "button" name="smallButton" ng-click= "smallFont()">small</button>
              <button class= "mediumButton" type= "button" name="mediumButton" ng-click= "mediumFont()">medium</button>
              <button class= "largeButton" type= "button" name="largeButton" ng-click= "largeFont()">large</button>
            </div>
            </footer>
          </div>
      </div>
    </div>
  </div>
</div>
