
<div ng-controller="userStoryController" ng-init="myStoryLoad()">
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav sideNav">
        <li class="sidebar-brand">
          <li>
            <div class="storyTitle">

              <p> {{readerIndex.story_title}} </p>
              <img ng-src="{{readerIndex.story_cover}}" height='100px'/>
            </div>
          </li>
          <li>
          <div class="character"> Characters </div>
        </li>
        <li id="charIcon">
            <div class="charIcon" ng-repeat="character in characters">
              <img ng-src="{{character.character_photo}}" height='100px' /><br>
              {{character.character_name}}
              <p> Traits: {{character.character_traits}} </p>
          </div>
        </li>

      </li>

      </ul>
    </div>
  <!-- body -->
    <div id="page-content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-9">
            <h1>{{readerIndex.story_title}}</h1>
            <!-- <img ng-src="{{readerIndex.story_cover}}" height='100px'/> -->
            <!-- <h4> There are {{readerIndex.story_pages.length}} pages in the story.</h4> -->
            <img ng-src="{{myStory.page_illustration}}" height='100px'/>
            <!-- <div> page {{myStory.page_number}} </div><br> -->
            <!-- <button class="previousButton" type="button" name="Prevbutton" ng-click= "prevPage()">Back</button>
            <button class="nextButton" type="button" name="Nextbutton" ng-click= "nextPage()">Next</button><br> -->
            <div id="grey_box" class="readerFontSize"> {{myStory.page_text}} </div>
            <!-- <div> page {{myStory.page_number}} </div><br> -->
            <!-- <div class="divbtn" -->
            <footer>
              <div id="gold_box">
              <button  class="previousButton" type="button" name="Prevbutton" ng-click= "prevPage()">Back</button>
               <span class="pageination">page {{myStory.page_number}} of {{readerIndex.story_pages.length}}</span>
              <button class="nextButton"type="button" name="Nextbutton" ng-click= "nextPage()">Next</button>
            </div>
            </footer>
            <!-- <div ng-include=" '/views/partials/nextBackFooter.html' "></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
