<div ng-controller="userStoryController" ng-init="chooseNamePopup()">
  <div id="wrapper">

    <!-- Sidebar -->
<button ng-click="openNav()">Show Characters</button>
    <div ng-show= "sidebar" id="sidebar-wrapper" >
      <ul class="sidebar-nav sideNav">
        <li class="sidebar-brand">
          <li>
            <div class="storyTitle">
              <img ng-src="{{readerIndex.story_cover}}" height='100px'/>
              <p> {{readerIndex.story_title}} </p>
            </div>
          </a>
          <div class="characters"> Characters </div>
        </li>
        <li>
          <div class="charIcon">
            <div ng-repeat="character in $rootScope.readerIndex.story_characters">
              <img ng-src="{{character.character_photo}}" height='100px'/><br>
              {{character.character_name}}
              <p> Traits: {{character.character_traits}} </p>
            </div>
          </li>
        </li>
      </ul>
    </div>
</div>

  <!-- body -->
    <div id="page-content-wrapper">
      <div class="container">
        <!-- <div id="storyPage"> -->
        <div class="row">
          <div class="col-xs-8">
            <div class="{{storyClass}}">
              <div class="{{sizeClass}}">
                <h1>{{readerIndex.story_title}}</h1>
                <div class="storyPage">
                <div id="userStory"></div>
                <br><div class="parent">
                <img ng-src="{{myStory.page_illustration}}" width='400px'/>
                </div>
                <br><span class="pageination">page {{myStory.page_number}} of {{readerIndex.story_pages.length}}</span>
                <div class="navBtns">
              </dive>
              </div>
            </div>
          <!-- </div> -->
          </div>

            <footer>
              <div class="navBtns">
                <button  class="btn previousButton" type="button" name="Prevbutton" ng-click= "prevPage()">‹ back</button>
                <button class="btn nextButton"type="button" name="Nextbutton" ng-click= "nextPage()">next ›</button>
                <button class="btn toggleButton"type="button" name="button" ng-click="toggle()">Change Font</button>
                <div id="fontBox" ng-show="commentText">
              <div class= "fontBtns">
              <button class= "btn arialButton" type= "button" name="arialButton" ng-click= "arialFont()">Font 1</button>
              <button class= "btn comicButton" type= "button" name="comicButton" ng-click= "comicFont()">Font 2</button>
              <button class= "btn openDyslexicButton" type= "button" name="openDyslexicButton" ng-click= "openDyslexicFont()">Font 3</button>

              <button class= "btn smallButton" type= "button" name="smallButton" ng-click= "smallFont()">small</button>
              <button class= "btn mediumButton" type= "button" name="mediumButton" ng-click= "mediumFont()">medium</button>
              <button class= "btn largeButton" type= "button" name="largeButton" ng-click= "largeFont()">large</button>

          </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
