<div ng-controller = "userStoryController" ng-init ='getAllStories()' ng-cloak  class="gridListdemoBasicUsage">

<div ng-include=" '/views/partials/welcome.html' "></div>

  <div class='md-padding' layout="row" layout-wrap layout-align="center center">
    <md-card style="width: 350px; height: 350px" ng-repeat="story in stories">
      <md-card-content>
        <div class="md-actions" layout="row" layout-align="center center">
      <md-button ng-click="selectReaderStory($index)"><img ng-src="{{story.story_cover}}" class="md-card-image" alt="{{story.story_title}}'s picture" width='200px;'height = "200px;" margin='0 auto;'></md-button>
       </div>
       <div style = 'text-align: center;'>
        <h2>{{ story.story_title }}</h2>
        <p>{{ story.story_description }}</p>
      </div>
      </md-card-content>
    </md-card>
  </div>
</div>
