@font-face {
   font-family: OpenDyslexic;
   src: url(OpenDyslexic-Regular.otf);
 }
 @font-face {
     font-family: 'blowbrush';
     src: url(blowbrush.ttf);
 }

 body, html{
   /*background-color: #f7f3ee;*/
   background: url(../views/images/urbanwatercolor.jpg);
   /*background-repeat: repeat;*/
   background-size: cover;
   height: 100%;
   font-size: 1em;
 }
 textarea {
   width: 900px;
   height: 300px;
   vertical-align: middle;;
 }

 footer {
   position: fixed;
   bottom: 0;
   right: 0;
   left: 0;
   height: 150;
 }


/*.pageination {
  position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  padding-left: 375px;
}*/
 .readerFontSize {
   font-size: 1.5em;
   font-family: OpenDyslexic, 'Comic Sans MS', blowbrush;
   letter-spacing: 2px;
   line-height: 225%

 }
.wordBtn {
  border-radius: 8px;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

.wordBtn:hover {
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24),0 10px 20px 0 rgba(0,0,0,0.19);
}
.nextButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
    opacity: 50%;
}
.nextButton:hover {
    background-color: #3e8e41;
}
.previousButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 250px;
}
.previousButton:hover {
    background-color: #3e8e41;
}

.navbar-default{
  background-color: #118cc3;
  /*background-color: #2b43b0;*/
  padding-top: 30px;
  padding-bottom: 10px; /*helps move the text in the sidenav up*/
}

.headerBtn{
  color: white;
  font-family: 'Comic Sans MS';
  font-size: 24px;
}

.main{
  text-align: center;
}
.loginCont {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sidebar-wrapper{
  position: relative;
  /*overflow-y: auto;*/
}
.sideNav {
  float: left;
  color: white;
  /*overflow-y: scroll;*/
  position: fixed;
}

.gridListdemoBasicUsage md-grid-list {
  margin: 8px;
}

.gridListdemoBasicUsage .gray {
  background: #f5f5f5;
}

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms;
}

.charIcon, .storyTitle, .character{
  text-align: center;
}
.storyTitle{
  font-size: 20px;
}
.title{
  font-family: 'blowbrush';
  font-size: 100px;
}

.nextGliph{
  color: black;
}

.btn-primary{
  background-color: #5f3cb0;
}

#storyInput {
  height: 200px;
  width: 700px;
  overflow: hidden;
  display: block;
}

#adminTestBox {
  height: 100px;
  width: 700px;
  overflow: auto;
}
#login{
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Comic Sans MS';
  /*font-family: 'blowbrush';*/
  font-size: 30px;
}
#login:hover{
  color: #118cc3;
  background-color: white;
}
#storyInput{
  overflow: auto;
  padding-bottom: 100px;
  margin: auto;
}
#grey_box {
 width: 800px;
 height: 900px;
 border: solid 1px #ccc;
 background: #ddd;
 position: relative;
 z-index: 9999;
}
/*#blue_box {
  width: 200px;
  height: 200px;
  border: solid 1px #4a7497;
  background: #8daac3;
  position: relative;
  z-index: 500;
}*/


#gold_box {
 width: 200px;
 height: 200px;
 border: solid 1px #8b6125;
 background: #ba945d;
 position: relative;
 z-index: 1;
}
