#storyInput {
  height: 200px;
  width: 700px;
  overflow: hidden;
  display: block;
}

#adminTestBox {
  height: 100px;
  width: 700px;
  overflow: auto;
}

.wordBtn {
  border-radius: 8px;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

.wordBtn:hover {
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24),0 10px 20px 0 rgba(0,0,0,0.19);

}

@font-face {
    font-family: 'blowbrush';
    src: url(blowbrush.ttf);
}


body, html{
  background-color: #f7f3ee;
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
}

.navbar-default{
  background-color: #134d10;
padding-top: 30px;
padding-bottom: 30px;
}
#login{
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

#storyInput{
  overflow: auto;
  padding-bottom: 100px;
  margin: auto;

}
.mainLink{
  color: white;
}
.libraryAdmin{
  color: white;
}
.adminAdd{
  color: white;
}
.libraryUser {
  color: white;
}
.logout {
  float: right;
  padding-right: 20px;
  color: white;
}
.main{
  text-align: center;
}
.loginCont {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sideNav {
  float: left;
  color: blue;
}
.gridListdemoBasicUsage md-grid-list {
  margin: 8px;
}

.gridListdemoBasicUsage .gray {
  background: #f5f5f5;
}

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms;
}


textarea
    {
      width: 800px;
      height: 300px;
      vertical-align: middle;
    }

.charIcon{
  position: fixed;
  text-align: center;
}
