@font-face {
   font-family: 'OpenDyslexic';
   src: url(OpenDyslexic.otf);
 }
 @font-face {
     font-family: 'blowbrush';
     src: url(blowbrush.ttf);
 }
 @keyframes pulse_animation {
 	0% { transform: scale(1); }
 	30% { transform: scale(1); }
 	40% { transform: scale(1.08); }
 	50% { transform: scale(1); }
 	60% { transform: scale(1); }
 	70% { transform: scale(1.05); }
 	80% { transform: scale(1); }
 	100% { transform: scale(1); }
 }
 body, html{
   /*background-color: #f7f3ee;*/
   background: url(../views/images/urbanwatercoloredit.jpg);
   /*background: url(../views/images/watercolorback.jpg);*/
   background-attachment: fixed;
   background-size: cover;
   height: 100%;
   font-size: 1em;
 }


 /*---------------------------------    nav bar   -------------------------------------*/
 .headerBtn{
   color: white;
   font-family: 'Comic Sans MS';
   font-size: 24px;
     background-color: #118cc3;
   /*height: 30px;*/
   margin-right: 5px;
   padding-bottom: 10px;
   text-decoration: none;
  border-radius: 10px;
 }
.headerBtn:hover{
  background-color: #3FBFBF;
  text-decoration: none;
  color: white;
}
 #loginB{
   color: white;
   padding-left: 20px;
   padding-right: 20px;
   margin-right: 5px;
   margin-left: 10px;
   font-family: 'Comic Sans MS';
   /*font-family: 'blowbrush';*/
   font-size: 24px;
   width: 50px;
   height: 50px;
 }

#logoutBtn{
  /*position: absolute;*/
  float: right;
  margin-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3FBFBF;
}
#userB{
  background-color: #BF3FBF;
  padding-left: 5px;
}
#userB:hover{
  background-color: #3FBFBF;
}
#adminB {
  background-color: #5EAF5E;
  padding-left: 5px;
}
#adminB:hover{
  background-color: #3FBFBF;
}
#manageB{
  background-color: #BF3FBF;
  padding-left: 5px;
  padding-right: 10px;
}
#manageB:hover{
  background-color: #3FBFBF;
}
 .navbar-default{
   background-color: black;
    /*background-color: #118cc3;--blue*/
    /*background-color: #64bbcc;*/
    padding-top: 10px;
    padding-bottom: 10px; /*helps move the text in the sidenav up*/
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

/*--------------------------------      readerStory         --------------------------------*/

 textarea {
   width: 800px;
   height: 300px;
   vertical-align: left;;
 }

 .sideNav {
   float: left;
   color: black;
   /*overflow-y: scroll;*/
   position: fixed;
   background-color: url(../views/images/watercolorside3.jpg);
   background-size: 50px;
 }
 .charIcon, .storyTitle, .characters{
   text-align: center;
   font-family: 'Comic Sans MS';
 }
 .storyTitle{
   font-size: 30px;
   color: black;
 }
 .title{
   font-family: 'blowbrush';
   height:200px;
   width: auto;
 }
 #sidebar-wrapper{
    position: relative;
    /*overflow-y: auto;*/
  }
  .storyPage {
    border-radius: 6px;
    font-size: 1.25em;
    position: relative:
     height: 50vw;
     width: 70vw;
     border-width: thick;
     border-style: outset;
     border-color: #0088dd;
     padding: 30px;
     margin: 5px 5px 5px 5px;
     text-align: left;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
     background-color: #f7f3ee;
}
/*.content .image {
  float: left;
}*/
/*.content .image-aside {
  padding-left: 10px;
  overflow: hidden;
  clear: none;*/
}
/*#userStory {
  width:30vw;
  word-wrap: break-word;;
  display: inline-block;
}*/
.image>img{
    /*display: block;*/
    float: left;
    margin-right: : 25px;
}
/*.parent{
    text-align: center;
}*/


/*--------------------------------     readerStory Nav        --------------------------------*/
 footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 75px;
}
.characters{
  color: black;
  font-size: 30px;
  margin-top: -25px;
}
.pageination{
  margin-left: 400px;
}
.previousButton{
  float: left;
  margin-left: 15px;
  margin-top: -200px;
}
.nextButton{
  margin-top: 20px;
  float: right;
  margin-right: 15px;
  margin-top: -200px;
}
.nextButton {
  background-color: #5f3cb0; /* purple */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: right;
  opacity: 50%;
}
.nextButton:hover {
  background-color: #6600ff;
}
.previousButton {
  background-color: #5f3cb0; /* purple */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 250px;
  margin-bottom: 100px:
  bottom: 50%;
}
.previousButton:hover {
  background-color: #6600ff;
}
.toggleButton{
  float: right;
  position: relative;
  margin-left: 150px;
  background-color: #118cc3;
  color: white;

}
.arialClass{
 font-family: 'Arial', sans-serif;
}
.arialButton{
 font-family: 'Arial', sans-serif;
 font-size: 1em;
 background-color: #118cc3;
 border: none;
 color: white;
 display: inline-block;
}
.arialButton:hover{
  background-color: #5f3cb0; /* purple */
}
.comicClass{
 font-family: 'Comic Sans MS';
}
.comicButton{
 font-family: 'Comic Sans MS';
 font-size: 1em;
 background-color: #118cc3;
 border: none;
 color: white;
 display: inline-block;

}
.comicButton:hover{
  background-color: #5f3cb0; /* purple */
}
.openDyslexicClass{
 font-family: "OpenDyslexic";
}
.openDyslexicButton{
  font-family: "OpenDyslexic";
  font-size: 1em;
  background-color: #118cc3;
  border: none;
  color: white;
  display: inline-block;
}
.openDyslexicButton:hover{
  background-color: #5f3cb0; /* purple */
}
.smallClass{
 font-size: 1.5em;
 letter-spacing: 2px;
 line-height: 225%;*/
 width: 90%;
}
.smallButton{
   font-size: 1.0em;
   background-color: #118cc3;
   border: none;
   color: white;
   display: inline-block;
}
.smallButton:hover{
  background-color: #5f3cb0; /* purple */
}
.mediumClass{
   font-size: 1.75em;
   letter-spacing: 2.5px;
   line-height: 225%
 }
.mediumButton{
   font-size: 1em;
   background-color: #118cc3;
   border: none;
   color: white;
   display: inline-block;
 }
 .mediumButton:hover{
   background-color: #5f3cb0; /* purple */
 }
.largeClass{
   font-size: 2.0em;
   letter-spacing: 3px;
   line-height: 225%
 }
.largeButton{
   font-size: 1em;
   background-color: #118cc3;
   border: none;
   color: white;
   display: inline-block;
   position: relative;
 }
.largeButton:hover{
  background-color: #5f3cb0; /* purple */
}

 #fontBtns{
   margin-left: 60px;
   /*padding-left: 80px;*/
   align-items: center;
 }

 #fontBox{
   border: solid;
   border-color: #118cc3;
   background-color:rgba(245,229,210,0.5);
   width: 450px;
   margin-left: 400px;
   align-items: center;
 }
/*---------------------     end readerStory Nav     --------------------------------*/
/*---------------------      end readerStory        --------------------------------*/
/*------------------------------    library    --------------------------------------*/
.cards{
  background-color: #f8f4f0;
}

/*--------------------------------customize word         --------------------------------*/

.wordBtn {
  border-radius: 8px;
  border: none;
  text-align: center;
  display: inline-block;
  margin: 2px 1px;
  cursor: pointer;
  background-color: #35b3f4;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.3s;
  animation-name: pulse_animation;
	animation-duration: 1000ms;
	transform-origin: 70%;
	animation-iteration-count: 50;
	animation-timing-function: linear;
}

.wordBtn:hover {
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24),0 10px 20px 0 rgba(0,0,0,0.19);
}
.wordBtn:active{
  background-color: purple;
}
/*.pulse{
  animation-name: pulse_animation;
	animation-duration: 1000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}*/
/*--------------------------------    login        --------------------------------*/
.loginCont {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loginBox{
  border: solid;
  border-color: #e6e6e6;
  /*background-image: url(../views/images/watercolorsidemodal.jpg);*/
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  display: table;
}
/*Admin Library*/
.gridListdemoBasicUsage md-grid-list {
  margin: 8px;
}

.gridListdemoBasicUsage .gray {
  background: #f5f5f5;
}

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms;
}
#storyInput {
  height: 200px;
  width: 700px;
  overflow: hidden;
  display: block;
}
#adminTestBox {
  height: 100px;
  width: 700px;
  overflow: auto;
}
#storyInput{
  overflow: auto;
  padding-bottom: 100px;
  margin: auto;
}

/*--------------------------------     modals        --------------------------------*/
.btn-primary{
  background-color: #5f3cb0;
  color: white;
  text-decoration: none;
}
.btn-primary:hover:{
    background-color: #3FBFBF;
}
.modalAll{
  background-image: url(../views/images/watercolorsidemodal.jpg);
  background-size: 100%;
  border-radius: 10px;
}
.titlePage{
  font-size: 50px;
}
.register{
  color: white;
}
#registerTitle{
  text-align: center;
  margin-top: 100px;
  font-size: 34px;
  font-family: 'blowbrush'
}
#registerBox{
  border: solid;
  border-color: #e6e6e6;
  text-align: center;
  width: 400px;
  height: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: table;
  background-image: url(../views/images/watercolorsidemodal.jpg);
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;

}
.inputDiv{
  display: table-row;
}
.inputBox, .registerLabel{
  display: table-cell;
  margin-left: 35px;

}
