<div ng-controller="loginController">
  <div class="navbar navbar-default">
    <tab><a class="headerBtn" href="#login"> Login |</a></tab>
    <tab><a class="headerBtn" href="#genericMain"> Main |</a></tab>
    <a class="headerBtn" href="#readerLandingPage"> User Page |</a>
    <a class="headerBtn" href="#viewLibrary">Reader Library |</a>
    <a class="headerBtn" href="#userTestPage"> Test Page |</a>
    <a class="headerBtn" href="#adminAddStory"> Admin Story |</a>
    <a class="headerBtn" href="#libraryAdmin">Admin Library |</a>
    <a class="headerBtn" href="#adminPagesCharInput"> Admin Char |</a>
    <tab class="headerBtn" id="logoutBtn" ng-click="openLogout()">Logout</tab>
  </div>
</div>
