<div ng-controller="loginController">
  <div class="navbar navbar-default">
    <tab><a class="headerBtn" id="loginB" href="#login"> Login </a></tab>
    <tab><a class="headerBtn" id="userB"href="#viewLibrary">Reader Library </a></tab>
    <tab><a class="headerBtn" id="adminB"href="#adminLibrary">Admin Library </a></tab>
    <tab><a class="headerBtn" id="manageB"href="#userStats"> Manage Users </a></tab>
    <tab class="headerBtn" id="logoutBtn" ng-click="openLogout()" align="right"> Logout </tab>
  </div>
</div>
